{% extends "base.html" %}
{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Maki 2.0 - Accueil</title>

<!-- Favicon
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

<!-- Template Main CSS File -->
<link href={% static "app/css/style.css" %} rel="stylesheet">
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock head_content %}


{% block content %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-black navbar-dark ">
        <div class="container w-75">
          <a class="navbar-brand" href="#">
            <!-- <h2>MAKI <span class="active">2</span>.0</h2> -->
            <img class="img_logo" src={% static "app/img/logo_maki.png" %} alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#about">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#about">À Propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<main>
    <section class="section1">
        <div class="imagebg">
            <div class="centrerelem">
                <div>
                  <span class="section1-premierp rounded-pill p-2 text-white fs-5" class="section1-premierp">Bienvenue chez
                    <b>Maki 2.0</b></span>
                </div>
                <div>
                  <p class="section1-secondp">Découvrez l'art des makis chez nous !</p>
                </div>
                <div>
                  <button class="section1-btn rounded-pill text-light fs-5"><a class="no_decoration" href="{% url 'products' %}"><span id="commencez">Voir nos produits</span></a></button>
                </div>
                <!-- <div>
                  <button class="section1-btn rounded-pill text-light fs-5"><a class="no_decoration" href="https://www.ubereats.com/be/store/maki-20/wNDqgVqjXx2pVnxqJmaMDQ?diningMode=DELIVERY&ps=1&sc=SEARCH_SUGGESTION"><span id="commencez">TEST</span></a></button>
                </div>
                <div>
                  <button class="section1-btn rounded-pill text-light fs-5"><a class="no_decoration" href="https://www.takeaway.com/be-fr/menu/maki-20"><span id="commencez">TEST</span></a></button>
                </div> -->
              </div>
        </div>
    </section>
    <section class="section2">
        <div>
        </div>
    </section>

    <section class="section3">
        <div class="imagebg2">
            <div class="centrerelem2">
                <div>
                    <span class="section1-premierp rounded-pill p-2 text-white fs-5" class="section1-premierp">Bienvenue chez
                      <b>Maki 2.0</b></span>
                  </div>
                  <div>
                    <a target="_blank" href="{% static 'app/img/menu/menu.pdf' %}">
                        <button class="rounded-pill p-2 mt-3" type="button">Voir le menu</button>
                    </a>
                  </div>
            </div>
        </div>
    </section>

    <section class="section5" id="contact">
        <h1 class="titre_section">Contact</h1>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.064868201575!2d4.186071976290046!3d50.47713608544237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c237b25f9d59a1%3A0xf16b465dc86e1e1f!2sRue%20du%20Temple%206%2C%207100%20La%20Louvi%C3%A8re!5e0!3m2!1sfr!2sbe!4v1695065845041!5m2!1sfr!2sbe" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white">
            <!-- Grid container -->
            <div class="container-fluid">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-around">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">FOOTER CONTENT</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Molestiae modi cum ipsam ad, illo possimus laborum ut
                                reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
                                Reiciendis assumenda iusto sapiente inventore animi?
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="mb-4" />

                <!-- Section: Social media -->
                <section class="mb-4 text-center">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/profile.php?id=100075543893236" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/maki_2_0/" role="button"><i
                            class="fab fa-instagram"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
                Fait par <a class="no_decoration" target="_blank" href="https://www.linkedin.com/in/mohamed-gourou-a09417270/"  style="color: #ef6036" >Shb</a>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                Tous droits réservés © 2023
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
<!-- Template Main JS File -->
<script src={% static "app/js/main.js" %}></script>
{% endblock content %}