{% extends "base.html" %}
{% load  static %}

{% block head_content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maki 2.0 - Plats</title>

    <!-- Favicon
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

    <!-- Template Main CSS File -->
    <link href={% static "app/css/style.css" %} rel="stylesheet">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock head_content %}


{% block content %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-black navbar-dark ">
        <div class="container w-75">
          <a class="navbar-brand" href="{% url 'homeFR' %}">
            <img class="img_logo" src={% static "app/img/logo_maki.png" %} alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="{% url 'homeFR' %}">Retour à l'accueil</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>


<main>
    <section class="section1_plat">
        <div class="section1_btn_back">
            <a href="{% url 'productsFR' %}"><button class="btn_plat titre_section">Retour</button></a>
        </div>
        <div class="section1_plat_big_div">
            <div class="section1_plat_img">
                <img src={% static 'app/img/plats/plat1.jpg'%} alt="">
            </div>
            <div class="section1_plat_text">
                <h3>{{plat.nom}}</h3>
                <h3>{{plat.ingredients}}</h3>
                <h3>{{plat.prix}} €</h3>
            </div>
        </div>
    </section>
</main>


<!-- Footer -->
<footer class="text-center text-lg-start text-white">

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/profile.php?id=100075543893236" role="button"><i
                  class="fab fa-facebook-f"></i></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/maki_2_0/" role="button"><i
                  class="fab fa-instagram"></i></a>
      </section>
      <!-- Section: Social media -->


  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
      Fait par <a class="no_decoration" target="_blank" href="https://www.linkedin.com/in/mohamed-gourou-a09417270/"  style="color: #ef6036" >Shb</a>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Tous droits réservés © 2023
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- Template Main JS File -->
<script src={% static "app/js/main.js" %}></script>
  
{% endblock content %}