@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Teko:wght@500&display=swap');

@font-face {
    font-family: 'titling'; /* Remplacez 'NomDeLaPolice' par le nom de votre police */
    src: url('../fonts/Nick\ Titling.ttf') format('truetype'); /* Chemin relatif vers votre police TTF */
    font-weight: normal; /* Poids de la police (normal, bold, etc.) */
    font-style: normal; /* Style de la police (normal, italic, etc.) */
}

body {
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}

@keyframes header_style {
    from {
      transform: scale(0); 
    }
    to {
      transform: scale(1);
      transition: 0.3s; 
    } 
}
@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0; }

    100% {
      transform: translateY(0);
      opacity: 1; 
    }
}

@keyframes fade-gauche {
    0% {
      transform: translateX(-120px);
      opacity: 0; 
    }

    100% {
      transform: translateX(0);
      opacity: 1; 
    }
}

@keyframes fade-droite {
    0% {
      transform: translateX(120px);
      opacity: 0; 
    }

    100% {
      transform: translateX(0);
      opacity: 1; 
    }
}

  
  @keyframes fade-center {
    from {
      transform: scale(0);
      opacity: 0; 
    }
    to {
      transform: scale(1);
      opacity: 1; 
    } 
}

.reveal {
    position: relative;
    opacity: 0;
} 

.reveal.active_anim {
    opacity: 1;
}

.active_anim.fade-left {
    animation: fade-bottom 1s ease-in-out;
}

.active_anim.fade-left2 {
    animation: fade-bottom 1.4s ease-in-out;
}

.active_anim.fade-left3 {
    animation: fade-bottom 1.7s ease-in-out;
}

.active_anim.fade-left4 {
    animation: fade-bottom 2s ease-in-out;
}

.active_anim.fade-center {
    animation: fade-center 1s ease-in-out;
}

.active_anim.fade-center2 {
    animation: fade-center 1.3s ease-in-out;
}

.active_anim.fade-gauche {
    animation: fade-gauche 1s ease-in-out;
}
.active_anim.fade-droite {
    animation: fade-droite 1s ease-in-out;
}
  

.img_logo {
    width: 50%;
}

.dropdown-menu {
    background-color: black !important;
}

.dropdown-menu li a {
    color: white !important;
}

.navbar_flags {
    width: 30px;
    height: 25px;
}

/* .kee {
    background-color :#ef6036 !important;
} */
.imagebg {
    background-image: url(../img/image1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: grey;
}

.nav-link {
    text-decoration: none !important ;
    color: white !important ;
}

.active {
    color: #ef6036 !important ;
}

.navbar {
    z-index: 1;
}
  
  .hovera {
    position: relative;
    width: max-content; 
}
    .hovera::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #ef6036;
      transform-origin: center;
      transition: transform 0.2s; 
}
    .hovera:hover::after {
      transform: scaleX(1); 
}


.titre_section {
    font-family: 'Teko', sans-serif;
}

/* section 1 */

.centrerelem {
    padding-top: 300px;
    text-align: center;
    color: white; 
    animation: header_style 1s;
}
  
  .section1-premierp {
    border: none;
    background-color: rgba(255, 255, 255, 0.2); 
}
  
  .section1-secondp {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 50px; 
}
  
  .section1-btn {
    border: white 2px solid;
    background-color: rgba(255, 255, 255, 0.2);
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
}
    .section1-btn #commencez {
      font-size: 18px;
      margin: auto; 
}
    .section1-btn:hover {
      background-color: #ef6036;
      transition: 0.3s;
      border: none; 
}
.no_decoration {
    color: white;
    text-decoration: none;
}
.no_decoration:hover{
    color: white;
}

/* section2 */

.section2 {
    background-color: white;
    padding: 50px 0px 50px 0px;
    scroll-margin-top: 5.4em; 
}

.section2_partenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section2_img_box img {
    width: 200px;
    aspect-ratio: 1/1;
}

.section2_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2_logo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2_description {
    height: 100px;
    margin: 20px 0px 20px 0px;
}

.section2_logo img {
    width: 160px;
    height: 60px;
}

.section2_app_store {
    width: 170px !important;
    height: 70px !important;
}


/* section3 */

.imagebg2 {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 200px;
    background-blend-mode: multiply;
    background-color: grey;
}

.centrerelem2 {
    padding-top: 30px;
    text-align: center;
    color: white; 
}

.section3_div_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}


.btn_menu:hover {
    transition: 0.3s;
    background-color: #ef6036;
    color: black !important;
}

.btn_menu:not(:hover) {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
    color: white !important;
}

/* section4 */

.section4 {
    background-color: #f6f6f6;
    scroll-margin-top: 5.4em; 
}

.section4_img img {
    width: 650px;
    height: 400px;
}

.section4_in {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.section4_part {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.section4_part div {
    width: 50%;
}

/* section10 */

.section10 {
    background-color: #f6f6f6;
    height: auto;
    scroll-margin-top: 5em; 
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
  
.section10_div_title {
    padding-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

.section10_div_title h1 {
      font-size: 40px;
      color: #ef6036; 
}

.section10_div_title p {
      margin-top: 0;
      color: white;
      padding-top: 40px; 
}

.section10_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}
  
.section10_info ul div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3%;
}
    .section10_info ul li {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: white;
      list-style-type: none;
      align-items: baseline;
      padding-bottom: 20px; 
}

.section10_div_logo {
    display: flex !important;
    flex-direction: column !important;
}
      .section10_info ul li h3, .section10_info ul li p {
        margin-top: 0;
        margin-left: 25px;
        margin-bottom: 0; }
      .section10_info ul li div i {
        transform: scale(2);
        border-radius: 25px;
        border: 1px solid #ef6036;
        background-color: #ef6036;
        padding: 5px 6px 5px 6px; 
}
  
  .section10_inputs {
    display: flex;
    gap: 3%;
    width: 100%; 
}
  
  .section10_input {
    margin-top: 30px;
    width: 50%;
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #ef6036;
    height: 40px;
    color: black !important; 
    padding-left: 10px;
}
  
  .section10_input2 {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    border: 3px solid #ef6036;
    height: 40px;
    color: black !important;
    padding-left: 10px; 
}
  
  .section10_big_input {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: transparent;
    border: 3px solid #ef6036;
    color: black !important;
    padding-left: 10px; 
    border-radius: 15px;
}
  
  .section10_div_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
  
  .section10_btn {
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #ef6036;
    border: 2px solid #ef6036;
    margin-bottom: 40px; }
    .section10_btn:hover {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
      transition: 0.3s;
      cursor: pointer; }
    .section10_btn:not(&:hover) {
      transition: 0.3s;
      background-color: #ef6036; 
}

.title_black {
    color: black !important;
}

/* footer */

footer {
    z-index: 3;
    padding-top: 30px;
    background-color: black !important;
    height: 170px;
    position: relative;
}

.footer_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .footer_logo_social img {
    width: 100px;
    height: 70px;
} */

.footer_logo_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer_logo_halal img {
    width: 100px;
    aspect-ratio: 1/1;
}
  


/* Page produits */

/* section1 */

.main_products {
    background-color: #f6f6f6;
}

.section1_products {
    padding-left: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.plat_box {
    width: 230px;
    height: 250px;
    padding: 25px 15px 50px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: pointer;
    margin: 50px 0 50px 0;
}

.box_hot {
    background-color: rgba(255, 0, 0, 0.807);
    color: white;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 55px;
}

.box_vegan {
    background-color: rgba(2, 121, 34, 1);
    color: white;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 55px;
}

.plat_box:hover{
    transform: scale(1.1);
    transition: 0.3s;
    .plat_box_title {
        color: #ef6036;
    }
}

.plat_box:not(:hover){
    transform: scale(1);
    transition: 0.3s;
    .plat_box_title {
        color: black;
    }
}

.plats_box {
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 3%;
    align-items: center;
}

.plat_box img {
    width: 200px;
    height: 150px;
}

.plat_box_title {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.test {
    display: flex;
    gap: 2%;
}

.nav_side ul {
    z-index: 2;
    background-color : transparent;
    list-style: none;
    padding-bottom: 260px;
    padding-left: 0;
}

.nav_side ul li {
    border-radius: 25px;
}

.nav_side ul {
    position: fixed;
    top: 86px;
}
.nav_side ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
}

.current {
    transition: 0.3s;
    background-color: #ef6036 !important;
    color: white !important;
}

.section1_plat {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section1_plat_img img {
    width: 400px;
    height: 350px;
    border-radius: 25px;
}


.btn_plat {
    border-radius: 50px;
    border: 3px solid #ef6036;
    padding: 10px 15px 10px 15px;
    margin-left: 30px;
    background-color: white;
    font-size: 1.3em;
}

.btn_plat:hover {
    transition: 0.3s;
    background-color: #ef6036;
    color: white;
    border: 3px solid black;
}

.btn_plat:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    border: 3px solid #ef6036;
}


.section1_plat_big_div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

.section1_plat_text {
    text-align: end;
}


/* go top */

.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 42px;
    right: 15px;
    color: white;
    background-color: #ef6036;
    z-index: 50;
    width: 42px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    font-size: 28px;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.go-top i {
        position: absolute;
        left: 0;
        right: 0;
        top: 55%;
        transform: translateY(-55%);
        transition: 0.3s;
    }
.go-top.see {
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
.go-top.see i:hover {
            margin-top: -3px;
            transition: 0.3s;
}


/* switch dark mode */

.switch-box {
    position: fixed;
    z-index: 6;
    left: 3%;
    bottom: 63px;
}

.switch-box .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4d4949;
    transition: 0.4s;
}
.switch-box .slider::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2.5px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: url(../img/night.png);
    background-repeat: no-repeat;
    background-position: center;
}

.switch-box input:checked + .slider {
    background-color: #cbc1c1 !important;
}

.switch-box input:focus + .slider {
    background-color: #4d4949;
}

.switch-box input:checked + .slider:before {
    transform: translateX(24px);
    background: url(../img/sunny.png);
    background-repeat: no-repeat;
    background-position: center;
}

.switch-box .slider.round {
    border-radius: 50px;
}

.switch-box .slider.round::before {
    border-radius: 50%;
}